<template>
    <div>
        <h2>Home Page</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque debitis deleniti dolorum iste libero odio
            odit qui saepe sapiente voluptas.</p>
        <router-link to="/todos">Todos</router-link>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>