<template>
    <form @submit.prevent="submit">
        <input v-model="title" type="text" placeholder="Title">
        <input v-model="body" type="text" placeholder="Body">
        <button type="submit">Create post</button>
    </form>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: "PostForm",
        data() {
            return {
                title: '',
                body: ''
            }
        },
        methods: {
            ...mapMutations(['createPost']),
            submit() {
                this.createPost({
                    title: this.title,
                    body: this.body,
                    id: Date.now()
                })
                this.title = this.body = ''
            }
        }
    }
</script>

<style scoped>
    input {
        display: block;
        width: 100%;
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>