<template>
  <div>
    <div class="page-title">
      <h3>{{ 'ProfileTitle' | localize }}</h3>
    </div>

    <form class="form">
      <div class="input-field">
        <input
          id="description"
          type="text"
          v-model="name"
          :class="{
            invalid: $v.name.$dirty && !$v.name.required,
          }"
        />
        <label for="description">{{ 'Name' | localize }}</label>
        <span
          class="helper-text invalid"
          v-if="$v.name.$dirty && !$v.name.required"
          >{{ 'MessageEnterName' | localize }}</span
        >
      </div>
      <div class="switch">
        <label>
          English
          <input type="checkbox" v-model="isRuLocale" />
          <span class="lever"></span>
          Русский
        </label>
      </div>
      <button
        class="btn waves-effect waves-light"
        type="submit"
        @click.prevent="submitHandler"
      >
        {{ 'BtnUpdate' | localize }}
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'Profile',

  validations: {
    name: { required },
  },
  data: () => ({
    name: '',
    isRuLocale: true,
  }),
  mounted() {
    this.name = this.info.name
    this.isRuLocale = this.info.locale === 'ru-RU'
    setTimeout(() => {
      // eslint-disable-next-line no-undef
      M.updateTextFields()
    })
  },
  methods: {
    ...mapActions(['updateInfo']),
    async submitHandler() {
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      try {
        await this.updateInfo({
          name: this.name,
          locale: this.isRuLocale ? 'ru-RU' : 'en-US',
        })
      } catch (e) {
        console.log(e)
      }
    },
  },
  computed: { ...mapGetters(['info']) },
}
</script>

<style scoped>
.switch {
  margin-bottom: 2rem;
}
</style>
