<template>
  <div id="app">
    <component :is="layout" />
  </div>
</template>

<script>
import EmptyLayout from '@/layouts/EmptyLayout'
import MainLayout from '@/layouts/MainLayout'

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'empty') + '-layout'
    },
  },
  components: {
    EmptyLayout,
    MainLayout,
  },
}
</script>

<style lang="scss">
@import 'assets/index.css';
@import '~materialize-css/dist/css/materialize.min.css';
</style>
